<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Senate Loyalty</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet" />
    <script>
      var page = "senate";
    </script>
  </head>

  <body class="container">
    <div class="container" id="app">
      <header class="row titulo align-items-center">
        <div class="col-6 d-inline-flex">
          <img class="loguito" src="images/lupita.jpg" alt="" />
          <h1>TGIF</h1>
        </div>
        <div class="col-6">
          <div class="float-right align-text-bottom">
            <img src="images/sobre-cerrado.png" alt="" class="logomail" />
            <a href="#"><u>info@tgif.net</u></a>
          </div>
        </div>
      </header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Congres 113
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="house-data.html">House</a>
                <a class="dropdown-item" href="senate-data.html">Senate</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Attendance
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="house-attendance-statistics.html">House</a>
                <a class="dropdown-item" href="senate-attendance-statistics.html">Senate</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Party Loyalty
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="house-party-loyalty-statistics.html">House</a>
                <a class="dropdown-item" href="senate-party-loyalty-statistics.html">Senate</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <br />
      <div class="row">
        <div class="col-md-6">
          <h2>Party Loyalty</h2>
          <p>
            Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
            respectively, tend to be the most faithful in voting for their party's nominee for office and
            legislation that backs their party's agenda.
          </p>
        </div>
        <div class="col-md-6">
          <h2 class="text-rigth">Senate at a glance</h2>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Party</th>
                <th>Number of Reps</th>
                <th>% Voted with Party</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Republican</td>
                <td id="repR">{{ estadisticas.cantRep }}</td>
                <td id="porcVotR">{{ estadisticas.votoPorRep }}</td>
              </tr>
              <tr>
                <td>Democrat</td>
                <td id="repD">{{ estadisticas.cantDem }}</td>
                <td id="porcVotD">{{ estadisticas.votoPorDem }}</td>
              </tr>
              <tr>
                <td>Independent</td>
                <td id="repI">{{ estadisticas.cantInd }}</td>
                <td id="porcVotI">{{ estadisticas.votoPorInd }}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td id="totalrep">{{ estadisticas.totalsenadores }}</td>
                <td id="totalporc">{{ estadisticas.totalPorcen }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr />
      <br />
      <div class="cuerpo row">
        <div class="col-md-6">
          <h2>Least Loyal (Bottom 10% of Party)</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number Party Votes</th>
                <th>% Party Votes</th>
              </tr>
            </thead>
            <tbody id="menosleales">
              <tr v-for="(value, key) in estadisticas.menosleales">
                <td>
                  <a v-bind:href="value.url"
                    >{{ value.first_name }} {{ value.middle_name }}{{ value.last_name }}</a
                  >
                </td>
                <td>{{ value.total_votes }}</td>
                <td>{{ value.votes_with_party_pct }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h2>Most Loyal (Top 10% of Party)</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number Party Votes</th>
                <th>% Party Votes</th>
              </tr>
            </thead>
            <tbody id="masleales">
              <tr v-for="(value, key) in estadisticas.masleales">
                <td>
                  <a v-bind:href="value.url"
                    >{{ value.first_name }} {{ value.middle_name }}{{ value.last_name }}</a
                  >
                </td>
                <td>{{ value.total_votes }}</td>
                <td>{{ value.votes_with_party_pct }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="pie-pagina">
        <p>© 2016 TGIF | All Rights Reserved</p>
      </div>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
</html>
